root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 2
indent_style = space

[*.cs]
charset = utf-8-bom
indent_size = 4

spelling_languages = en-us
spelling_checkable_types = identifiers,strings,comments
spelling_error_severity = warning
spelling_exclusion_path = exclude.dic
spelling_use_default_exclusion_dictionary = true
